@import "tailwindcss";

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes reverseSlide {
    0% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0%);
    }
}

.animate-slide {
    display: flex;
    width: max-content;
    animation: slide 120s linear infinite;
}

.animate-slide:hover {
    animation-play-state: paused;
}

.animate-reverseSlide {
    display: flex;
    width: max-content;
    animation: reverseSlide 205s linear infinite;
}

.animate-reverseSlide:hover {
    animation-play-state: paused;
}